<h1>Project <%= @project.name %></h1>
<div>
  <h2>Results settings</h2>
  <dl>
    <dt>Project id</dt>
    <dd><%= @project.id %></dd>
  </dl>
</div>
<div>
  <h2>Users</h2>
  <ul>
    <% @project.users.each do |user| %>
      <li><%= user.email %> (<%= @project.membership_name user %>)</li>
    <% end %>
  </ul>

  <h2>Add new user</h2>
  <%= form_tag(controller: 'projects', action: 'add_user', method: 'post') do %>
    <%= text_field_tag(:new_user_email) %>
    <%= submit_tag("Add") %>
  <% end %>
</div>

<div>
  <h2>Examples</h2>
  <ul>
    <% @example_names.each do |example_name| %>
      <li><%= link_to example_name, project_example_path(@project, example_name) %></li>
    <% end %>
  </ul>
</div>
