<h1>Example: <%= @example.example_name %></h1>
<div>
  <dl>
    <dt>Last seen at</dt>
    <dd><%= @example.example_location %></dd>
    <dt>Last ran at</dt>
    <dd><%= @last_result_for_this_example.created_at %></dd>
  </dl>
<div>


<div>
  <table>

    <% @results_viewer.each_with_maybe_previous do |previous_result, result, query_change| %>
      <tr>
        <td><%= result.created_at %></td>
        <td><%= result.queries_count %></td>

        <% if previous_result.present? %>
          <% if query_change < 0 %>
            <td class='green'>change: <%= query_change %></td>
          <% elsif query_change == 0%>
            <td>change: &nbsp;0</td>
          <% else %>
            <td class='red'>change: +<%= query_change %></td>
          <% end %>
          <td><%= link_to('Comparison', "/results/compare?result_id_left=#{result.id}&result_id_right=#{previous_result.id}") %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>

        <td><%= link_to('View', "/results?id=#{result.id}") %></td>
      </tr>
    <% end %>
  </table>
</div>
