<!DOCTYPE html>
<html>
  <head>
    <title>Raas</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if current_user.blank? %>
      <%= link_to 'Sign in', user_omniauth_authorize_path(:github) %>
    <% end %>

    <% if current_user.present? %>
      <%= link_to 'Sign out', destroy_user_session_path %>
      <%= link_to "My projects", projects_path %>
      <%= link_to "My API token", token_show_path %>
    <% end %>


    <%= yield %>

  </body>
</html>
